<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" type="text/css">
    <link rel="stylesheet" href="/static/css/base.css" type="text/css">
</head>
<body>
    <div class="layui-container">
        <div class="layui-main site-inline layui-content">
            <h1 class="site-h1">{{.title}} 说明</h1>
        </div>
            本项目是一个关于gin框架的练习代码。
    </div>
</body>
</html>